<header>
    {% include "nav.html" %}
</header>
<section id= "banner">
    <div class="container">
  
        <div class = "row ">
            <div class = " col-md-7 mt-5 p-3 " >
                <img  src = "static\images\latest-aari-work-blouse-designs-removebg-preview.png" width="auto" height="auto" alt="banner">

      </div>
            <div class = "col-md-5 mt-5 p-3">
              <h2 class = "title" id="titles">About us <h2>
               <p class = " lead mt-3" id= "para">"Embrace Tradition, Elevate Style: Aari Artistry Redefined."  Welcome to our world of Aari work, where tradition meets artistry, and every stitch tells a story. At MGMS , we are passionate about preserving the rich heritage of Aari embroidery, a centuries-old craft that originated in India. Our journey began with a profound appreciation for the intricate beauty of Aari work, and a commitment to bringing this exquisite art form into contemporary spaces.
            </p> 
                 
            </div>
            

          </div>
          <hr>
          <h3 class="heading mt-5 mb-4">Best customized designer boutique at Chennai</h3>
     <p class="lead" id="para">
      If you're looking for something unique, MGMS Boutique in Coimbatore has a wide range of collections to choose from, as well as courteous guidance. Aari embroidered blouses, Bridal blouses, Saree waist belts, Lehengas, and Readymade designer blouses are among our specialty and wholesale offerings. We have the most acceptable and exclusive stylish blouse designs on the market.
 
     </p>
     <center class="mb-5">
     <a href="/contact" class="btn text-center" id="btn-web">Get in touch with us</a>
     </center>
     <div class="experience">
      <div class="row mt-5 mb-5">
        <div class="col-md-4 text-center">
          <h3>3000+</h3>
          <p class="lead">HAPPY CLIENTS</p>
       </div>
       <div class="col-md-4 text-center">
        <h3>7000</h3>
          <p class="lead">PERFECT DELIVERIES</p>
      </div>
      <div class="col-md-4 text-center">
        <h3>30</h3>
          <p class="lead">YEARS OF EXPERIENCE</p>
      </div>
      </div>
     
  </div>


     <h3 class="heading mt-5 mb-4">Why choose MGMS boutique? </h3>
     <div class="row mb-5 ">
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
              <img  src="static\images\icons8-tape-measure-64.png" width="40px" height="40px">
              </div>
          <h4 class="heading">Simplified measuring</h4>
          <p class="lead fs-5" id="para">
            Whether it's a lehenga, bridal blouses, or Zardosi, whether it's a luxury or a necessity, you'll always look better if it's created to measure. Make no concessions to yourself. We'd be pleased to take your measurements and create a custom fit that complements your style and body type.
          </p>
      </div>
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
          <img  src="static\images\icons8-time-64.png" width="40px" height="40px" >
          </div>
          <h4 class="heading">Convenient time</h4>
          <p class="lead fs-5" id="para">
            Customers may place orders, get measurements, and buy KP boutique in Coimbatore at any time that is convenient for them. You can examine outfits from a variety of designer labels to help you establish your personal style while maintaining a grand appearance
          </p>
      </div>
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
              <img  src="static\images\icons8-embroidery-64.png" width="40px" height="40px" >
              </div>
          <h4 class="heading">Dedicated designers</h4>
          <p class="lead fs-5" id="para">
            MGMS boutique in Chennai has the best designers. Our designers work with utmost dedication and provide the product, making us a one-stop shop for all types of bridal collections from professional designers. With client satisfaction as a top concern, our designers work with utmost dedication and deliver the product. </p>
      </div>
   </div>
   <div class="row mb-5">
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
              <img  src="static\images\icons8-mobile-order-64.png" width="40px" height="40px">
              </div>
          <h4 class="heading">Online order</h4>
          <p class="lead fs-5" id="para">
            We facilitate online orders with all types of collections for your wedding and fashion apparel with high quality fabric and finest embroidery work with the widest selection of clothes for you to choose from according to your taste and style.</p>
      </div>
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
              <img  src="static\images\icons8-customization-32.png" width="40px" height="40px" >
              </div>
          <h4 class="heading">Customization</h4>
          <p class="lead fs-5" id="para">
            Your patterns, fabrics, and measurements are all set to make you feel comfortable and enjoy every bit of your big day when you get a custom-made dress. Your Aari work blouse or Bridal blouse dreams might come true at MGMS Boutique. </p>
      </div>
      <div class="col-md-4 p-3 mt-3" id = "choosecard">
          <div class = "icon">
              <img  src="static/images/icons8-delivery-64.png" width="40px" height="40px" >
              </div>
          <h4 class="heading">On time delivery</h4>
          <p class="lead fs-5" id="para">
            Our hardworking team works tirelessly to ensure that all purchases are tailored and delivered on time. Your designed things will always come on time thanks to the most efficient and communicative workforce here. </p>
      </div>
   </div>







      </div>
  </div>
  
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <footer>
    {% include "footer.html" %}
    </footer>
  