<header>
{% include "nav.html" %}
</header>

<section id="banner">
    <div class="container ">
      <h3 class="mt-3 mb-5" id="head">Products</h3>


        <div class = "row   text-center" id = "gal">
          <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
            <div class="card " style="width: 18rem;">
                <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Modern works Blouse</h5>
                  <p class="card-text">Contemporary elegance, tailored with precision for the fashion-forward woman.</p>
                  <a href="/Modern_works_Blouse" class="btn "id="btn-web">View Products</a>
                </div>
              </div>
          </div>
          <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bridal designer Blouse</h5>
                  <p class="card-text">Exquisite craftsmanship meets bridal dreams in this bespoke masterpiece.</p>
                  <a href="/Bridal_designer_Blouse" class="btn "id="btn-web">View Products</a>
                </div>
              </div>
          </div>
          <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
            <div class="card " style="width: 18rem;">
                <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">lehengas</h5>
                  <p class="card-text">Timeless grace embodied in every twirl; our lehengas redefine ethnic allure.</p>
                  <a href="/lehengas" class="btn "id="btn-web">View Products</a>
                </div>
              </div>
          </div>
        </div>
        <div class = "row text-center" >
            
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                  <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cut works</h5>
                    <p class="card-text">Artistry in every cut; these creations seamlessly blend tradition with modernity.</p>
                    <a href="/Cutworks" class="btn "id="btn-web">View Products</a>
                  </div>
                </div>
            </div>
  
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center ">
              <div class="card " style="width: 18rem;">
                  <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mirror works</h5>
                    <p class="card-text">Reflecting opulence, our mirror work designs illuminate your style with radiance.</p>
                    <a href="/Mirrorworks" class="btn "id="btn-web">View Products</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                  <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Zardosi work Blouse</h5>
                    <p class="card-text">Intricately woven tales of tradition; our Zardosi blouses are a testament to luxury.</p>
                    <a href="/ZardosiworkBlouse" class="btn "id="btn-web">View Products</a>
                  </div>
                </div>
            </div>
        </div>
         
          <div class = "row  text-center" id = "gal">
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
              <div class="card " style="width: 18rem;">
                  <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Saree Waist Belts</h5>
                    <p class="card-text">Accentuate your curves with our statement waist belts, the perfect finishing touch.</p>
                    <a href="/SareeWaistBelts" class="btn "id="btn-web">View Products</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                  <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pattu Pavadai Works</h5>
                    <p class="card-text">Crafted for little princesses, each Pattu Pavadai is a fairy tale in fabric.</p>
                    <a href="/PattuPavadai" class="btn "id="btn-web">View Products</a>
                  </div>
                </div>
            </div>
            <div class = "col-md-4 mt-5 p-3 mb-5 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="static\images\c1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">3D Blouse works</h5>
                      <p class="card-text">Your vision, our creation; bespoke bridal wear tailored to perfection.</p>
                      <a href="/threeDBlouseworks" class="btn "id="btn-web">View Products</a>
                    </div>
                  </div>
              </div>
  
          </div>

    </div>



<section>

<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <footer>
    {% include "footer.html" %}
    </footer>
  